html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #333;
	-webkit-perspective: 700px;
	-webkit-perspective-origin: 50% 50%;
}

#rotation_indicator, #rotation_indicator_back {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-image: url('img/hand.svg');
}

#rotation_indicator {
	-webkit-backface-visibility: hidden;
}

#rotation_indicator_back {
	-webkit-filter: grayscale(100%);
}

.label {
	color: #ccc;
	text-shadow: 2px 2px 5px #000;
	padding: 0.2em;
	margin: 0;
}
